VITE_APP_TITLE="Booking Engine (POC Simulation)"

# Backend BFF API URL
VITE_BFF_API_URL=http://localhost:8002

# Optional Public Membership API Configuration (for public discovery / branding)
VITE_MEMBERSHIP_API_URL=http://localhost:8000
VITE_MEMBERSHIP_TENANT_DOMAIN=jeevawasa.localhost
VITE_MEMBERSHIP_CLIENT_ID=
VITE_GOOGLE_CLIENT_ID=840783649088-tabdq0ps1i6e1d2vtfsaffsdgs9apcq9.apps.googleusercontent.com
